{% extends 'base.html' %} {% load static %} {% load markdownify%}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
    </div>

    <h2>Recipes for{{ mealplan.name }} Created on {{mealplan.date}}</h2>
    <p>
      {% for recipe in mealplan.recipes.all %}
      <p><a href="{% url 'recipe_detail' recipe.pk %}">
        {{ recipe.name }}</a></p>
        {% endfor %}
      </p>


  </main>
{% endblock content %}
